body{
    background-image: url("space.jpg");
    font-family: Arial, sans-serif;
}
form{
    display: flex;
    margin: auto;
    text-align: center;
    border: 9px solid rgb(0, 0, 0);
    background-color: rgb(47, 74, 56);
    padding: 20px;
    color: rgb(152, 152, 158);
    color: rgb(250, 249, 249);
    font-size: large;
    transform: translateX(100%);
    visibility: visible;
    overflow: hidden;
}
#formAnim{
    animation: formAnimSwipe .6s;
}
@keyframes formAnimSwipe{
    0% {
        transform: translateX(0%);
    }

    100%{
        transform: translateX(100%);
    }
}
#formAnimret{
    animation: formAnimSwiperet .6s;
}
@keyframes formAnimSwiperet{
    0% {
        transform: translateX(100%);
    }

    100%{
        transform: translateX(0%);
    }
}

.FormVis {
    margin-left: 45%;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #195117;
    color: #fff;
    border: none;
    border-radius: 5px;
    transform: translateY(-200%);
    scale: 1.3;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
#formVisAnim{
    animation: buttonAnim 1s, movebtn 1s !important;
}
@keyframes buttonAnim{
    0% {
        background-color: black;
        scale: 1;
    }
    80%{
        scale: 1.23;
        background-color: black;
    }
    100%{
        scale: 1.3;
        background-color: #195117;
    }
}
@keyframes movebtn{
    0% {
        transform: translateY(0%);
    }
    100%{
        transform: translateY(-200%);
    }
}

#formVisAnimret{
    animation: buttonAnimret 1s, movebtnret 1s !important;
}
@keyframes buttonAnimret{
    0% {
        background-color: black;
        scale: 1.3;
    }
    80%{
        scale: 1.07;
        background-color: black;
    }
    100%{
        scale: 1;
        background-color: #195117;
    }
}
@keyframes movebtnret{
    0% {
        transform: translateY(-200%);
    }
    100%{
        transform: translateY(0%);
    }
}

.form-group {
    display: flex;
    align-items: center;
    margin: 10px 0;
}
input{
    border: 3px solid black;
    background-color: rgb(138, 171, 138);
    color: rgb(0, 0, 0);
}

#radio{
    accent-color: rgb(0,0,0);
}
h1{
    font-size: 4rem;
    color: rgba(0, 0, 0, 0.938);
    margin : 10px;
}
.form-group label {
    margin-right: 10px;
}
.form-group input[type="text"],
.form-group input[type="number"] {
    margin-right: 20px;
}
.form-group input[type="submit"]{

    width: 100px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    border: 3px solid black;
    text-align: right;
    background-color: rgb(0, 0, 0);
    color: rgb(250, 249, 249);
    font-size: 16px;
    text-align: center;
    font-weight: 600;
}
/* input[type="submit"]:hover {
    background-color: #13610e;
} */
.display{
    z-index: 20;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.name{
    position: absolute;
    bottom: 20px; /* Adjust to desired distance from the bottom */
    right: 20px; /* Adjust to desired distance from the right */
    font-size: xx-large;
    color: #e8e8e8;
}